<div class="container">
  <div class="quiz-container">
    <div class="quiz-timer">
      <span>60</span>
    </div>
    <div class="quiz-header">
      <h1>Pergunta</h1>
      <div class="quiz-page">
        <p>5</p><span>/ 10</span>
      </div>
    </div>

    <h2>Método de array para modificar cada item e retornar uma array nova</h2>

    <ul class="quiz-selection">
      <li>
        <button class="quiz-option">forEach</button>
      </li>

      <li>
        <button class="quiz-option">forEach</button>
      </li>

      <li>
        <button class="quiz-option">forEach</button>
      </li>

      <li>
        <button class="quiz-option">forEach</button>
      </li>
    </ul>

    <button class="quiz-next">Próxima</button>
  </div>
</div>